.large__container {
  border: 1px solid #efefef;
  max-width: 740px;
}

.photo img[title="avatar"] {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

@keyframes photo {
  from {
    transform: none;
  }
  to {
    transform: rotateY(5turn);
  }
}

.photo .photo__header {
  display: flex;
  width: 100%;
  padding: 15px;
  align-items: center;
}

.user__infor {
  display: block;
}

.photo__meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  border-bottom: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-left: 1px solid #efefef;
}

.photo__action {
  padding: 15px 15px;
}

.comment .comment_list {
  padding: 4px 0;
}

.datas textarea {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  width: 95%;
}

.comment__column {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  border-bottom: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-left: 1px solid #efefef;
}

.list img:active,
.list img:focus {
  width: 500px;
  height: 500px;
}

.list img {
  transition: all is;
}

.photo__actions .photo__action {
  cursor: pointer;
}

.photo__actions .photo__action:first-child {
  margin-right: 10px;
}

.photo__meta .photo__likes,
.photo__comment .photo__comment-author {
  font-weight: bold;
}

.photo__meta .photo__date {
  font-size: 10px;
  color: #999;
  text-transform: uppercase;
}

.photo__meta .photo__add-comment {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.photo__add-comment textarea {
  width: 95%;
  border: 0;
  resize: none;
  font-size: 12px;
}

.photo__add-comment textarea:focus {
  outline: none;
}

.comment-date .comment__day {
  font-size: 8px;
  color: #ededed;
}
